<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="http://unpkg.com/axios/dist/axios.js"></script>
  <title>Numbers API</title>

  <!-- Le styles -->
  <link href="static/homepage.css" rel="stylesheet" type="text/css" />

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="img/favicon.ico" />

  <!-- Le Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(["_setAccount", "UA-29155677-1"]);
    _gaq.push(["_trackPageview"]);

    (function () {
      var ga = document.createElement("script");
      ga.type = "text/javascript";
      ga.async = true;
      ga.src =
        ("https:" == document.location.protocol
          ? "https://ssl"
          : "http://www") + ".google-analytics.com/ga.js";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <link href="https://unpkg.com/@pqina/flip/dist/flip.min.css" rel="stylesheet">
</head>

<body>
  <div id="body-inner">
    <div class="body-container">
      <div id="logo-outer">
        <h1 class="logo">
          Numbers
          <span id="second-word">API</span>
        </h1>
      </div>

      <span id="tagline">
        An API for interesting facts about numbers
      </span>

      <section id="usage-outer">
        <div id="usage">
          <div id="examples">
            <div class="example">
              <h2>Trivia</h2>
              <div class="example-box">
                <div class="example-box-address">numbersapi.com/api/trivia/42</div>
                <div class="api-result scroll">
                  42 is the number of little squares forming the left side
                  trail of Microsoft's Windows 98 logo.
                </div>
              </div>
            </div>
            <div class="example">
              <h2>Dates</h2>
              <div class="example-box">
                <div class="example-box-address">
                  numbersapi.com/api/dates/10/4
                </div>
                <div class="api-result scroll">
                  October 4th is national taco day!
                </div>
              </div>
              <!-- example-box -->
            </div>
            <div class="example">
              <h2>Years</h2>
              <div class="example-box">
                <div class="example-box-address">numbersapi.com/years/1970</div>
                <div class="api-result scroll">
                  April 22nd is the day in 1970 that the first Earth Day is celebrated.
                </div>
              </div>
            </div>
            <div class="example">
              <h2>Math</h2>
              <div class="example-box">
                <div class="example-box-address">numbersapi.com/math/5</div>
                <div class="api-result scroll">
                  5 is the number of platonic solids.
                </div>
              </div>
            </div>
            <!-- example -->
          </div>
          <!-- examples -->
        </div>
        <!-- usage -->
      </section>
      <br />

      <section id="sandbox-outer">
        <div id="sandbox">
          <div class="arrow"></div>
          <div id="sandbox-text">Try it out!</div>
          <div id="outer-search">
            <div id="search">
              <div id="search-box">
                <form id="search-form">
                  <label>
                    <button id="search-link">numbersapi.com/api/</button>
                  </label>
                  <span><input id="search-text" type="text" /></span>
                </form>
              </div>
              <!-- TODO: fix scroll for sandbox. shouldn't be too much of an issue yet, since facts generally should not be long enough to overflow the container -->
              <div id="search-result" class="api-result">
                <div id="counter"></div>
                <span id="result-temporary-text">
                  Try out the numbers API here!
                </span>
              </div>
            </div>
            <div id="search-examples">
              <h3>Random</h3>
              <ul>
                <li id="trivia-random" class="random-fact">trivia/random</li>
                <li id="year-random" class="random-fact">year/random</li>
                <li id="date-random" class="random-fact">date/random</li>
                <li id="math-random" class="random-fact">math/random</li>
              </ul>
            </div>
          </div>
        </div>
      </section>



    <button id="add-number">+</button>
    <button id="subtract-number">-</button>
      <div class="tick" data-value="0001">
        <span data-layout="vertical fit">
          <span data-repeat="true">
            <span data-view="flip"></span>
          </span>
        </span>
      </div>






      <section id="visitors">
        <div class="gradient-fill"></div>
        <div class="flare-background"></div>

        <div id="addthis">
          <div class="addthis_toolbox addthis_32x32_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
          </div>
        </div>

      </section>

      <section id="api-outer">
        <div id="api">
          {{ documentation|safe }}
        </div>
      </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- <script src="/js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="/js/jquery.counter.js" type="text/javascript"></script> -->

    <!-- AddThis sharing icons -->
    <script>
      var addthis_config = {
        data_ga_tracker: "UA-29155677-1",
        data_ga_property: "UA-29155677-1",
        data_ga_social: true,
        services_exclude: "print",
        ui_cobrand: "Numbers API",
        ui_header_color: "#02273f",
        ui_header_background: "#cce4f4",
      };
      var addthis_share = {
        url: "http://numbersapi.com",
        description: "An API for interesting facts about numbers.",
        templates: {
          twitter:
            "An API for interesting facts about numbers: http://numbersapi.com",
        },
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js" type="text/javascript"></script>
    <script src="static/utils.js"></script>
    <script src="static/script.js"></script>
    <script src="https://unpkg.com/@pqina/flip/dist/flip.min.js"></script>
  </div>

</body>

</html>